.normalprice {
    text-decoration: line-through;
}
.slidingDiv {
    height:300px;
    background-color: #99CCFF;
    padding:20px;
    margin-top:10px;
    border-bottom:5px solid #3399FF;
}

.show_hide {
    display:none;
}
div.collapse {
    position: initial;
    height: 1;
}
.accordion-heading {
    border: 0;
    background: #FFFFFF;
}
.accordion-body {
    background: #FFFFFF;
}
.accordion-inner {
    padding: 9px 15px;
    border-top: 0px solid #e5e5e5;
}
